    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
    }
    
    body {
        display: flex;
        align-items: center;
        overflow-y: hidden;
    }
    
    nav {
        font-family: helvetica;
        height: 5vh;
        position: fixed;
        top: 5vh;
        right: 6vw;
        color: rgb(86, 65, 65);
        font-weight: 700;
        gap: 2vw;
        background: transparent;
        display: flex;
        flex-direction: row;
    }
    
    span {
        border: 2px solid white;
        border-radius: 1rem;
        padding: 0.5vw 1vw;
    }
    
    .section {
        min-width: 100vw;
        height: 100vh;
    }
    
    .main {
        background: rgb(202, 182, 158);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    .big.section {
        min-width: 400vw;
        background: rgb(148, 144, 116);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    .hori {
        background: rgb(233, 220, 147);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    img {
        height: 60vh;
        border: 2px solid black;
        border-radius: 0.7rem;
    }
    
    img:hover {
        scale: 0.9;
        transition: 0.7s ease;
    }
    
    .middle {
        height: 70vh;
    }